<div id="myComment">
    <div class="card border-dark">

        <div class="card-header bg-dark">{{article.date}}</div>

        <div class="card-body">
            <a href="{{article.link}}" target="_blank"><h5 class="card-title">{{article.title}}</h5></a>
            <div class="row">
                <p class="card-text col-sm-9" id="art_summary">{{article.summary}}</p>
                <img class="col-sm-3" src={{article.image}} alt="">
            </div>
        </div>

        <div class="card-footer">
            <div class="form-group row">
                <div class="column text-area"></div>
            </div>
        </div>


    </div>
</div>